<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176096572047-g13t9sq1bi2oih8ih8l17o80qft03ugt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176096572047-g13t9sq1bi2oih8ih8l17o80qft03ugt</string>
	<key>API_KEY</key>
	<string>AIzaSyBHL5BpkQRDe-03hE5-7TYcbr2aad1ezqg</string>
	<key>GCM_SENDER_ID</key>
	<string>876918371895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vulu.app</string>
	<key>PROJECT_ID</key>
	<string>vulugo</string>
	<key>STORAGE_BUCKET</key>
	<string>vulugo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876918371895:ios:49d57bd00939d49889b1b2</string>
	<key>DATABASE_URL</key>
	<string>https://vulugo-default-rtdb.firebaseio.com</string>
</dict>
</plist>
